*{
  padding: 0px;
  margin: 0px;
}

body, main, header, nav, section, article, figure {
  display:block;
}

body{
  width:100%;
  height:auto;
  margin: 0;
  background-color: #00BFA5;
/*overflow-y scroll;*/
}

header{
  width: 100%;
  height: 20%;
  position: fixed;
  background-color: #00BFA5;
}

header.logoP{
  align: center;
}

nav.p{
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}

section{
  margin: 0;
  width:100%;
  height:100%;

}

div.slide{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

section.informa{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

section.tipos{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

section.cards{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

footer{
  background-color: #CEE3F6;
  width: 100%;
  height: 8%;
  bottom: 0px;
  position: fixed;
  text-align: center;
}

#prof{
  100px
}
