*{
  padding: 0px;
  margin: 0px;
}

body, main, header, nav, section, article, figure {
  display:block;
}

body{
  width:100%;
  height:auto;
  margin: 0px auto;
  background-color: #00BFA5;
}

header{
  width: 100%;
  height: 150px;
  position: fixed;
  background-color: #00BFA5;
}

main{
  position: relative;
}

/*header.logoP{
  align: center;
}*/

nav{
  width: 100%;
  height: 50px;
  background: #CFF0DA;
  margin-top: 10px;
}

nav ul{
  padding-top: 10px;
  text-align: center;
  padding-left: 400px;
}

nav ul li{
  display: inline;
  list-style-type: none;
}

nav ul li a, nav ul li a:link, nav ul li a:visited{
  float:left;
  width: 200px;
  height: 25px;
  color: #FFFFFF;
  text-decoration:none;
  /*font-family:*/
  margin: 0 20px;
  padding-top: 5px;
  background: #00BFA5;
}

nav ul li a:hover{
  color: #FFFFFF ;
  background: #FBD14B;
}

nav ul li a:active{
  color: #3AC569 ;
  background: #CEE3F6;
}

article.slide{
  width: 760px;
  height: 150px;
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  z-index: auto;
  top:300px;
}

/*article.informa, article.tipos, article.cards{
  width: 760px;
  height: 450px;
  padding: 20px;
  position: absolute;
  z-index: auto;
  top:170px;
  /*visibility: hidden;*/
}

/*article.informa, .tipos, .cards{
  float:right;
}*/

figure{
  float: none;
  width: 90%;
}

.imagcopo{
  width: 100px;
  height: 100px;
}

footer{
  width: 1024px;
  height: 9%;
  bottom: 0px;
  position: fixed;
  text-align: center;
}

.juego{
  width: 65px;
  height: 65px;
}

.redirigir{
  width: 45px;
  height: 45px;
}
