*{
  padding: 0px;
  margin: 0px;
}


body{
  font-family: Neucha;
  width:100%;
  height:auto;
  margin: 0px auto;
  background-color: #00BFA5;
 }

#pokes{
  display: flex;
  flex-wrap: wrap;

}

#info,#tipo{
  display: none;
}
.card{
  margin:5px;
  box-shadow:0px 2px 10px #3AC569;
  background: #FFFFFF;
  text-align:center;
  border-radius:10px;
  padding:10px;
  width:180px;
  transition:all .4s;
}
.card:hover{
  box-shadow:1px 5px 10px #FBD14B;
  transform:scale(1.65)
}

#uno{
text-align: center;
}

 #uno,#dos{
  background-color:#008e76;
  border-radius: 20px;
  }


header{
  width: 100%;
  height: 150px;
  background-color: #00BFA5;
}


main{
  position: relative;
}

header{

text-align:center;
}


nav{
  width: 100%;
  height: 50px;
  background: #00BFA5;
  margin-top: 10px;
}

nav ul{
  padding-top: 10px;
  text-align: right;
  padding-left: 400px;
}
.informa, .tipos{
;
}

nav ul li{
  display: inline;
  list-style-type:none;
}

nav ul li a, nav ul li a:link, nav ul li a:visited{
  float:right;
  width: 200px;
  height: 25px;
  color: #FFFFFF;
  text-decoration:none;
  font-family;
  margin: 0 20px;
  padding-top: 5px;
  background: #00BFA5;
}


nav ul li a:hover{
  color: #FFFFFF ;
  background: #FBD14B;
}

nav ul li a:active{
  color: #3AC569 ;
  background: #CEE3F6;
}


/
article.slide{
  width: 760px;
  height: 150px;
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  z-index: auto;
  top:300px;
}


/* article.informa, article.tipos, article.cards{
  width: 760px;
  height: 450px;
  padding: 20px;
  z-index: auto;
  top:170px;

  /*visibility: hidden;*/
} */

article.informa, .tipos, .cards{
  float:right;
}

figure{
  float: none;
  width: 90%;
}
.tipos{
  text-align: center;
}
.imagcopo{
width: 100px;
height: 100px;
}



footer{
  width: 1024px;
  height: 9%;
  bottom: 0px;
  position: fixed;
  text-align: center;
}

.juego{
  width: 65px;
  height: 65px;
}

.redirigir{
  width: 45px;
  height: 45px;
}

img{
  width: : 680px;
}

/* Contenedor del slide */

#container{
  width: 640px;
  margin: 300px auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px #5F9EA0;
  border-radius: 20px;
}

/* Lista dentro del Contenedor del slide y caja flexible */

#container ul{
  list-style: none;
  width: 2640px;
  display: flex;
  animation: slide 20s infinite alternate;
}



@keyframes slide{
  0% {margin-left: -40px;}
  20% {margin-left: -40px;}

  25% {margin-left: -720px;}
  45% {margin-left: -720px;}

  50% {margin-left: -1420px;}
  70% {margin-left: -1420px;}

  75% {margin-left: -2100px;}
  100% {margin-left: -2100px;}
}


img{
  width: : 680px;
}

#container{
  width: 640px;
  margin: 300px auto;
  overflow: hidden;
  box-shadow: 2px 2px 10px #5F9EA0;
  border-radius: 20px;
}

#container ul{
  list-style: none;
  width: 2640px;
  display: flex;
  animation: slide 20s infinite alternate;
}

@keyframes slide{
  0% {margin-left: -40px;}
  20% {margin-left: -40px;}

  25% {margin-left: -720px;}
  45% {margin-left: -720px;}

  50% {margin-left: -1420px;}
  70% {margin-left: -1420px;}

  75% {margin-left: -2100px;}
  100% {margin-left: -2100px;}
}
